

.song-container {
    display: flex;
    font-family: 'inter';
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #121212;
    color: white;
    padding: 16px;
    width: 100%;
    max-width: 432px ; 
  
    .artist-profile {
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%; 
        object-fit: cover;
      }
    }
  
    .info {
      flex-grow: 1;
      min-width: 0;
  
      .title {
        font-weight: 400;
        font-size: 18px;
        color: #FFFF;
        letter-spacing: 0%;
        white-space: nowrap;
        
      }
  
      .artist {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0%;
        white-space: nowrap;  
        color: gray;   
        margin-top: 8px; 
      }

    }
  
    .duration {
      font-size: 12px;
      font-family: Inter;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: right;
      color: gray;
    }
  }
  